:root {
  --m-main: #86b530;
  --m-main-dark: #5f8813;
  --m-second: #954b1e;
  --m-second-dark: #70320d;
  --m-delete: #e67c73;
  --m-dark: #212121;
  --m-dark-2: #333333;
  --m-darker: #161616;
  --m-gray: #7f7f7f;
  --m-gray-2: #5b5b5b;
  --m-gray-3: #d2d2d2;
  --m-light-gray: #eeeeee;
  --m-off-white: #f5f5f5;
  --m-red: #ff0000;
  --rounded-main: 1rem;
}

@media (max-width: 1200px) {
  .search-header select {
    font-size: 14px;
  }
  .header-navbar {
    right: 15%;
  }
  .header-row .col-8 {
    width: 100% !important;
    order: 1;
  }
  .header-row .col-4 {
    width: 100% !important;
  }
  .btn-summary {
    font-size: 14px;
  }
  .login-body {
    padding-inline: 5rem;
  }
  .search-container p,
  .search-container select {
    font-size: 14px;
  }
  .search-select-arrow-down {
    display: none;
  }
  #hero_carousel .owl-dots {
    transform: translate(-7rem, -4rem);
  }
}
@media (max-width: 1100px) {
  .search-header select,
  .search-header p {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .web-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }

.side-menu-btns img {
  padding-left: 4px;
}
.mobile-view .search-container {
  position: inherit;
  transform: unset;
  z-index: unset;
}

.farm-img-list {
  aspect-ratio: 389/209;
  border-radius: 1rem 1rem 0px 0px;
}

.owl-carousel:not(.other-img-carousel) .farm-like {
  right: unset;
  left: 0;
  transform: translate(1rem, 1rem);
}

.other-img-carousel .owl-nav button.owl-prev {
  transform: translate(0.5rem, -9rem);
}

.other-img-carousel .owl-nav button.owl-next {
  right: 0;
  transform: translate(-0.5rem, -9rem);
}
  .notifications,
  .chat-boxs {
    position: relative;
    width: 45px;
    height: 45px;
    background: var(--m-main);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notifications .new-notify {
    width: 15px;
    height: 15px;
    background: #e32d2d;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .btn-border-mobile {
    border-radius: 23px;
  }
  .btn-offers-mobile {
    position: absolute;
    bottom: -25px;
    font-size: 14px;
    height: 44px;
    width: 30%;
  }
  .modal-custom .modal-dialog {
    margin: 18% auto;
  }
  .modal-height-mobile .modal-dialog {
    height: 100% !important;
    margin: 0 !important;
  }
  .btn-rating {
    width: 50%;
    border-radius: 30px;
    border: none;
    background-color: var(--m-second);
  }
  .profile-page .card,
  .wallet-card {
    background-color: #ffffff !important;
  }
  .msg-body {
    padding-block: 15px;
    background-color: #f1f1f1;
    max-height: 40vh;
    overflow-y: auto;
  }
  .login-body {
    padding-inline: 10px;
  }
  .chat-icon {
    display: block;
    margin-left: 20px;
  }
  .chat-icon i {
    font-size: 20px;
    color: var(--m-gray);
  }
  .chatlist {
    width: 100%;
  }
  .msg-body ul li.sender:before {
    border-color: transparent transparent #ffffff transparent;
  }
  .msg-body ul li.sender p {
    background-color: #ffffff;
  }
  .chat-area {
    height: 80vh;
    /* height: auto; */
  }
  .chatbox {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 1000px;
    left: 0;
    background: #fff;
    transition: all 0.5s ease;
    border-right: none;
  }
  .showbox {
    right: 0 !important;
    transition: all 0.5s ease;
  }
  .chat-list {
    max-height: unset;
    overflow: inherit;
  }
  .chat-area {
    background-color: transparent;
  }
  .msg-head p {
    font-size: 12px;
  }
  .chat-hr {
    border: 1px solid #dadada;
  }
  .send-box button {
    width: 50%;
  }
  .send-box .form-control {
    width: 70%;
  }
  .chat-list h3 {
    font-size: 14px;
  }
  .chat-list p {
    font-size: 12px;
  }

  .msg-body ul li.sender p {
    font-size: 13px;
    padding: 8px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .msg-body ul li.repaly p {
    font-size: 13px;
    padding: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .custom-w-inp {
    width: 100%;
  }
  .owner-frm-title::after {
    content: unset;
  }
  .owner-frm-title {
    text-align: center;
  }
  .padding-mobile {
    padding-right: 15px !important;
    padding-block: 15px;
  }
  .owner-frm-title {
    font-size: 1.2rem;
    line-height: 1.8;
    border-bottom: 1px solid var(--m-gray-3);
    padding-bottom: 15px;
  }
  .owner-title {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--m-gray-3);
    padding-bottom: 30px;
  }
  .main-mobile-title::after {
    content: "";
    display: inherit;
    width: 50%;
    margin: 0px auto;
    border-bottom: 2px solid var(--m-gray-3);
    padding-bottom: 30px;
  }
  .check-title {
    font-size: 14px;
  }

  .hr-custom {
    display: none;
  }

  .frm-input,
  .frm-select,
  .inp-check[readonly] {
    font-size: 12px;
    border-radius: 30px;
  }
  .custom-frm-select .select2-container--default .select2-selection--single {
    border-radius: 30px;
  }
  .iti__selected-flag {
    border-radius: 30px 0 0 30px;
  }
  .frm-txt {
    margin-bottom: 15px;
  }
  .btns-width-frm,
  .title-width,
  .w-c-80 {
    width: 100%;
  }

  .btn-frm-owner-light {
    width: 160px;
    height: 57px;
    margin-top: 20px;
  }
  .btn-frm-owner {
    margin-top: 20px;
  }
  .number-cb-input {
    width: 90%;
  }
  .number-cb-lbl {
    padding-right: 0;
  }

  .check-list label {
    padding-left: 1rem;
    padding-right: 25px;
  }

  .frm-note-select {
    display: block;
  }
  .images-desc-title {
    width: 100%;
  }
  .ul-images-desc {
    padding-left: 0;
  }
  .ul-images-desc li {
    padding: 0px 20px 0 0px;
  }
  .privileges-content-width,
  .register-content > div {
    width: 100%;
  }
  .password-text {
    font-size: 18px;
  }
  .group-input {
    display: block;
  }
  .group-input label {
    padding-bottom: 10px;
  }
  .contact-input,
  .textarea-width {
    width: 100%;
  }
  .customer-services,
  .email-align {
    text-align: center;
    padding-bottom: 10px;
  }
  .lbl-booking {
    padding-right: 10px;
    font-size: 16px;
  }
  .booking-container h3 {
    font-size: 18px;
  }
  .booking-container h5 {
    font-size: 18px;
    font-weight: bold;
  }
  .booking-container h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .booking-desc {
    font-size: 14px;
    padding: 1rem;
  }
  .payment-input {
    height: 45px;
  }
  .padding-check {
    padding-right: 0px;
  }
  .share-link a {
    font-size: 14px;
    font-weight: bold;
  }

  .image-radio-list label img {
    height: 65px;
    width: 65px;
  }
  .check-padding {
    margin-right: 0;
  }
  .chat-mobile-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
  }

  .delete-chat-mobile,
  .delete-chat-list {
    display: flex !important;
    position: absolute;
    left: 10px;
    top: 20px;
    background-color: #f1f1f1;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .delete-chat-list {
    left: 30px;
    top: 0px;
  }
  .profile-icon {
    padding-left: 0px;
    text-align: center;
  }
  .mid-mobile {
    text-align: center;
  }
  .cart-profile-mobile {
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
  }
  .cart-booking-mobile {
    background-color: #ffffff !important;
    border: none;
    border-radius: 10px;
  }
  .booking-details {
    background-color: transparent;
  }
  .cart-profile-mobile h6 {
    line-height: 1.6;
  }
  .cart-profile-mobile label {
    font-size: 14px;
  }
  .my-account-header i {
    font-size: 32px;
    margin-left: 10px;
  }
  .booking-icon {
    width: 15px;
  }
  .hero-section {
    height: 450px;
  }

  .border-in-mobile {
    border-left: none !important;
  }
  .hero-section {
    text-align: center;
  }
  .hero-section h3 {
    margin-top: 60px;
  }
  #hero_carousel .owl-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translate(0rem, -9rem);
  }

  .section-two-heading {
    color: var(--m-second);
    font-size: 21px;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
  }
  .search-icon-container {
    background-color: var(--m-second);
    position: absolute;
    margin-top: 50px;
  }
  .search-icon-container i {
    color: #fff !important;
  }
  .section-two-paragraph {
    font-size: 1rem;
    text-align: center;
    color: #363636;
  }
  #city_carousel .owl-nav {
    display: none;
  }
  .section-two {
    padding-bottom: 0px !important;
  }
  .camps-nav li {
    text-align: center;
  }
  .hero-content-mobile {
    height: auto !important;
  }
  .sets-up-in-mobile {
    text-align: center;
  }
  .sets-up-in-mobile h4 {
    font-size: 21px;
  }
  .sets-up-in-mobile p {
    font-size: 1rem;
    color: #363636;
  }
  .search-container {
    padding-bottom: 30px !important;
  }
  .communication-links-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: -1px 2px 6px #00000029;
    border: 1px solid #e8e8e8;
  }
  .communication-links-mobile .communication-link {
    width: 30%;
    height: 34px;
    color: #ffffff;
    font-size: 1rem;
    background: var(--m-second);
    border-radius: 30px;
  }
  .communication-links-mobile .communication-link i {
    color: #fff;
    font-size: 24px;
  }
  .booking-details .border-left {
    border-left: none;
  }
}
@media (max-width: 768px) {
  .btn-offers-mobile {
    width: 40%;
  }
  .booking-details h5 {
    font-size: 18px;
  }
  .btn-confirm-booking,
  .btn-outline-booking {
    width: 160px;
    height: 34px;
  }
  .fz-12-mobile {
    font-size: 12px;
  }
  .fz-14-mobile {
    font-size: 14px;
  }
  .outline-border a {
    font-size: 12px;
  }
  .btn-confirm-booking,
  .btn-outline-booking,
  .text-sorry,
  .booking-text {
    font-size: 14px;
  }
  .btn-register,
  .booking-details .h5 {
    font-size: 1rem;
  }
  .btn-mobile-send {
    width: 186px;
    height: 50px;
    font-size: 1rem;
    border-radius: 25px;
  }
  .wallet-card .text-left {
    text-align: right;
    padding-right: 25px;
  }
  .reverse-order-mobile-1 {
    order: 2;
    padding-left: 0 !important;
  }
  .reverse-order-mobile-1 .logo {
    margin-top: 0px !important;
  }
  .reverse-order-mobile-2 {
    order: 1;
    margin-bottom: 25px;
  }
  .reverse-order-mobile-3 {
    order: 3;
    margin-bottom: 25px;
  }
  .reverse-order-mobile-4 {
    order: 4;
  }
  .head-mobile {
    margin-bottom: 2rem !important;
  }
  footer .nav-item {
    padding-bottom: 10px;
  }
}
@media (max-width: 578px) {
  .offcanvas {
    width: 100% !important;
  }
  .summary-fz {
    font-size: 18px !important;
  }
  .btn-summary {
    font-size: 12px;
    padding-inline: 0;
  }
  .btn-booking-summary {
    width: 70% !important;
    margin-top: 15px;
  }
  .btn-offers-mobile {
    width: 50%;
  }
  .btn-rating {
    width: 100%;
  }
  .pending-badge,
  .confirm-badge,
  .cancel-badge,
  .finish-badge {
    font-size: 12px;
    padding-block: 2px;
  }
  .search-container select {
    font-size: 14px;
  }
  .search-container p {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
  .btn-makan {
    width: 165px;
    font-size: 12px;
    border-width: 1px;
  }
  .hero-section h3 {
    font-size: 22px;
  }
  .hero-section p {
    font-size: 13px;
  }
  .search-container {
    width: 90%;
  }
  .card-favourite .farm-img-carousel .owl-nav,
  .card-favourite .other-img-carousel .owl-nav {
    display: none;
  }
  .booking-container h3,
  .booking-container h5 {
    font-size: 16px;
  }
  .image-radio-list label img {
    height: 50px;
    width: 50px;
  }
  .modal-custom .modal-content {
    width: 95%;
  }
  #activationCode .code {
    width: 50px;
  }
  .resend-content {
    display: block;
  }
  .center-in-mobile {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .frm-2-check-label,
  .label-check,
  .frm-txt {
    font-size: 14px;
  }
  .custom-frm-select
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-size: 12px;
  }
  .frm-note-select {
    padding-block: 10px;
  }
  .wrapper-images {
    height: 14rem;
  }
  .wrapper-sub-images {
    height: 6rem;
  }
}
@media (max-width: 400px) {
  .booking-details .card-details-image,
  .booking-details .card-details-body,
  .width-mobile {
    width: 100% !important;
  }
}
@media (max-width: 380px) {
  .outline-border {
    padding-inline: 15px;
  }
  .title-chat {
    font-size: 18px;
  }
  .booking-container h4 {
    font-size: 18px;
  }
  .share-link {
    margin-top: 15px;
  }
  .booking-download {
    display: block;
  }
  .edits-content {
    display: block;
  }
  .edits-mobile {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  #activationCode .code {
    width: 40px;
  }
  .frm-input {
    width: 100%;
  }
  .owner-title {
    font-size: 1.2rem;
  }
  .owner-frm-title {
    font-size: 1rem;
  }
}